

main.page-container-top{
    margin-top: 0px;
}

section.top-mainv{
    border-left-color: rgb(61, 57, 57);
    border-left-width: 0px;
    border-right-color: rgb(61, 57, 57);
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    font-size: 16px;
    justify-content: space-between;
    line-height: 16px;
    text-size-adjust: 100%;
    vertical-align: baseline;
    letter-spacing: normal;
    background-color: white;
    height: 620px;
    margin-bottom: 70px;
    // margin-top: 200px;
    padding-bottom: 0%;
    padding-top: 200px;
    
}

.top-mainv-txt{
    display: flex;
    flex-direction: column;
    font-size: 12px;
    font-weight: 700;
    text-align: left;
    padding-left: 5%;
    width: 100%;
    height: 100%;
}

.top-mainv-txt h1{
    color: rgb(26, 25, 25);
    position: relative;
    top: 0%; 
    left: 0%;
    transform: none;
    text-shadow: none;
    text-align: left;
    font-size: 50px;
    margin-bottom: 20px;
    font-weight: 700;

}


.top-mainv-image{
    width: 100%;
    height: 100%;
}

.lead{
    display: block;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 2%;
    margin-top: 2%;
    text-align: left;
}
.scrolldown2{
    bottom: 10px;
    left: 50%;
    // position: absolute;
    text-align: center;
    white-space: nowrap;
    position:absolute;
}

/*Scrollテキストの描写*/
.scrolldown2 span{
    /*描画位置*/
  position: absolute;
  left:10px;
  bottom:65px;
    /*テキストの形状*/
  color: rgb(0, 169, 224);
  font-size: 15px;
  letter-spacing: 0.05em;
  /*縦書き設定*/
  -ms-writing-mode: tb-rl;
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
}

/* 丸の描写 */
.scrolldown2:before {
    content: "";
    /*描画位置*/
    position: absolute;
    bottom:30px;
    left:-4px;
    /*丸の形状*/
  width:10px;
  height:10px;
  border-radius: 50%;
  background:rgb(0, 169, 224);
    /*丸の動き1.6秒かけて透過し、永遠にループ*/
  animation:
    circlemove 1.6s ease-in-out infinite,
    cirlemovehide 1.6s ease-out infinite;
}

/*下からの距離が変化して丸の全体が上から下に動く*/
@keyframes circlemove{
      0%{bottom:125px;}
     100%{bottom:25px;}
 }

/*上から下にかけて丸が透過→不透明→透過する*/
@keyframes cirlemovehide{
      0%{opacity:0}
     50%{opacity:1;}
    80%{opacity:0.9;}
  100%{opacity:0;}
 }

/* 線の描写 */
.scrolldown2:after{
  content:"";
    /*描画位置*/
  position: absolute;
  bottom:30px;
  left:0;
    /*線の形状*/
  width:2px;
  height: 100px;
  background:rgb(0, 169, 224);
}


section.top-recommend{
    margin-top: 0px;
    margin-bottom: 60px;
    padding-top: 0%;
    background-color: white;

}

.top-recommend-ttl{
    margin-top: 0px;
    margin-bottom: 60px;
    text-align: center;
    font-size: 36px;
    background-color: white;
}

.top-recommend-list{
    border-bottom-color: rgb(0, 169, 224);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-top-color: rgb(0, 169, 224);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-top-style: solid;
    border-top-width: 3px;
    border-right-color: rgb(0, 169, 224);
    border-right-style: solid;
    border-right-width: 3px;
    border-left-color: rgb(0, 169, 224);
    border-left-style: solid;
    border-left-width: 3px;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
    list-style: none;
    font-size: 16px;
    padding: 10px 20px 10px 20px;
    

}

section.top-steps{
    background-color: rgb(201, 228, 241);
    padding-top: 100px;
    padding-bottom: 100px;
}

.inner{
    // margin-left: 5%;
    // margin-right: 5%;
}

.top-common-ttl{
    text-align: center;
}

.list-block{
    margin-top: 50px;

}

.top-steps-list{
    list-style: none;
    // display: flex;
    // flex-direction: row;
    // justify-content: space-around;
    // text-align: center;
}

.top-steps-list-col{
    border-bottom-color: rgb(0, 169, 224);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-top-color: rgb(0, 169, 224);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-top-style: solid;
    border-top-width: 3px;
    border-right-color: rgb(0, 169, 224);
    border-right-style: solid;
    border-right-width: 3px;
    border-left-color: rgb(0, 169, 224);
    border-left-style: solid;
    border-left-width: 3px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: white;
    height: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px 10px 10px;
}

.top-steps-list-col p{
    font-size: large;
    padding: 5%;
    margin-top: -35px;
    background-color: rgb(0, 169, 224);
    color: white;
    border-radius: 80%;
}

.top-steps-list-image{
    height: 60%;
    width: 100%;
}

.top-steps-list-image-3{
    height: 70%;
    width: 100%;
}


section.top-why{
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 100px;
    background-color: white;
}

.top-common-ttl strong{
    background-color: rgb(201, 228, 241);
}

.top-why-list{
    list-style-type: none;
    margin-bottom: 0%;
}

.top-why-list-col{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-left: 5%;
    padding-right: 5%;
    border-bottom-color: rgb(0, 169, 224);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-top-color: rgb(0, 169, 224);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-top-style: solid;
    border-top-width: 3px;
    border-right-color: rgb(0, 169, 224);
    border-right-style: solid;
    border-right-width: 3px;
    border-left-color: rgb(0, 169, 224);
    border-left-style: solid;
    border-left-width: 3px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.txt{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.txt h3{
    width: 100%;
    text-align: left;
}

.txt p{
    margin-top: 0%;
}

.top-why-list-col-image{
    max-height: 80%;

}

.txt strong{
    color: rgb(0, 169, 224);
}

section.top-entrust{
    margin-top: 0px;
    background-color: rgb(238, 248, 252);
}

#wrapper{
    width:100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}

/*========= waveを描画するエリア設定 ===============*/

canvas{
    position: relative;
    bottom: -6px;
    left:0;
    width: 100%;
}

.top-common-ttl{
    margin-bottom: 50px;
}

.top-common-ttl span{
    font-weight: 700;
}

.top-entrust-block{
    margin-left: 2.5%;
    margin-right: 2.5%;
}

.move-up-txt{
    padding-top: 0px;
}

.top-entrust-block-ttl strong{
    color:rgb(0, 169, 224)
}

.howto-list{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    justify-content: space-between;
    margin-top: 40px;


}

.howto-list-col-1{
    width: 50%;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    border-bottom-color: rgb(0, 169, 224);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-top-color: rgb(0, 169, 224);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-top-style: solid;
    border-top-width: 3px;
    border-right-color: rgb(0, 169, 224);
    border-right-style: solid;
    border-right-width: 3px;
    border-left-color: rgb(0, 169, 224);
    border-left-style: solid;
    border-left-width: 3px;
    height: 400px;
    background-color: white;
    margin-bottom: 20%;
    padding: 30px 10px 0px 10px;
}

.howto-list-col-2{
    width: 50%;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    border-bottom-color: rgb(0, 169, 224);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-top-color: rgb(0, 169, 224);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-top-style: solid;
    border-top-width: 3px;
    border-right-color: rgb(0, 169, 224);
    border-right-style: solid;
    border-right-width: 3px;
    border-left-color: rgb(0, 169, 224);
    border-left-style: solid;
    border-left-width: 3px;
    height: 400px;
    background-color: white;
    margin-top: 10%;
    margin-bottom: 10%;
    padding: 30px 10px 0px 10px;
}

.howto-list-col-3{
    width: 50%;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    border-bottom-color: rgb(0, 169, 224);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-top-color: rgb(0, 169, 224);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-top-style: solid;
    border-top-width: 3px;
    border-right-color: rgb(0, 169, 224);
    border-right-style: solid;
    border-right-width: 3px;
    border-left-color: rgb(0, 169, 224);
    border-left-style: solid;
    border-left-width: 3px;
    height: 400px;
    background-color: white;
    margin-top: 20%;
    margin-bottom: 0%;
    padding: 30px 10px 0px 10px;
}


.howto-list-col-image{
    height: 70%;
    width: 100%;

}

section.top-movie{
    background-color: white;
}

.move-up-txt{
    // opacity → 不透明度の指定
   opacity : 0;
    // transform → 移動距離の指定
    transform: translateY(50px);
    // transition → 移動時間の指定
    transition: 2.5s;
 }